.button img {
  width: 4.5vh;
  margin: -10px;
  box-shadow: none;
}

.button {
  position: absolute;
  top: 0;
  right: 2%;
  margin: 5px;
}

.button img:hover {
  width: 4.6vh;
  box-shadow: none;
}

.button-title {
  position: absolute;
  right: 1%;
  top: 9;
}

.button-title img {
  width: 5.5vh;
}
