.principal {
  color: white;
}

.principal-title,
.principal-highlight {
  font-size: 35px;
}

.principal-flash,
.principal-news-second,
.principal-highlight-second {
  font-size: 24px;
}

.principal-news {
  font-size: 30px;
}
